.translate-text {
    display: none;
    position: inherit;
    margin: 0px 30px 10px;
    background-color: #0099db;
    color: white;
    border-radius: 25px;
    width: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.translate-text:hover {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
}

.translate-image {
    width: 20px;
    height: 20px;
}

.msg-s-event-listitem__message-bubble:hover .translate-text {
    display: flex;
}